html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("assets/images/codingwallpaper.jpg");
}

.everything_container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header_container {
  display: flex;
  width: 700px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 20px;
}

.image_container{
  display: flex;
  justify-content: flex-end;
  height:100%;
  width: 340px;
  margin: auto 0 auto 0;
}

.learningfuzed{
  background-image: url("assets/images/lfz_1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0;
}

.letter_container{
  display: flex;
  height: 50%;
  width: 3.2%;
  margin: auto auto auto 2px;
}

.d_letter {
  position: relative;
  bottom: 1px;
  color: aquamarine;
  border: 3px solid aquamarine;
  border-radius: 0 15px 15px 0;
  height: 100%;
  width: 100%;
  margin: auto;
}


.header_container,
.stats_container *, .mainDiv_container > *,
.stats_data, .replay_button, .game_over_screen{
  margin: auto;
}

.mainDiv_container {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 600px;
}

.game_over_screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  color: aquamarine;
  font-size: xx-large;
  z-index: 1;
}

.replay_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  width: 35%;
  font-size: 1.2rem;
  color: aquamarine;
  border: 3px solid rgb(0, 255, 238);
  border-radius: 8px;
  text-align: center;
  color: aquamarine;
  box-shadow: 0px 0px 10px 0px rgba(0,255,255,.8);
  margin: 0;
  font-size: x-large;
}

.stats_container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  justify-content: center;
  margin: 0px;
}

.stats_div {
  background: rgba(255, 255, 255, 0.1);
  display:flex;
  flex-direction: column;
  width: 80%;
  height: 13%;
  border: 3px solid rgb(0, 255, 238);
  border-radius: 8px;
  text-align: center;
  color: rgb(0, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0,255,255,.8);
}

.card_container {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  position: relative;
  width: 680px;
  height: 600px;
  justify-content: space-evenly;
  margin: 0px;
}

.card_column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-content: center;
  width: 11%;
  height: 100%;
  margin: 0 1.5px 0 1.5px;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  margin: 1px;
  transition: transform .1s;
  transition: height .2s linear;
  overflow: hidden;
  border: 3px solid rgb(0, 0, 0, 0);
}

.picture {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.clickable:hover, .card_selected, .card.card_adjacent:hover, .stats_div.new_game:hover, .stats_div.shuffle:hover, .replay_button:hover{
  transform: scale(1.05);
  background: rgb(0,255,255, 1);
  background: radial-gradient(circle, rgba(0,255,255,.5) 0%, rgba(0,255,255,0.76234243697479) 0%, rgba(0,255,255,0) 100%);
  border: 3px solid aqua;
}

.card_adjacent{
  transform: scale(1.00);
  background: radial-gradient(circle, rgba(0,255,255,.5) 0%, rgba(0,255,255,0.76234243697479) 0%, rgba(0,255,255,0) 100%);
  border: 3px dashed aqua;
}

.card_selected {
  z-index: 1;
}


.card.card_matched{
  background: radial-gradient(circle, rgba(255,0,255,.5) 0%, rgba(255,0,255,0.76234243697479) 0%, rgba(255,0,255,0) 100%);
  border: 3px solid rgba(255, 0, 255, 1);
}

.card.collapse{
  height: 0;
  overflow: hidden;
  margin:0;
}

p:hover{
  cursor: default;
}

/* .css_logo, .docker_logo, .gitHub_logo, .html_logo, .js_logo, .mysql_logo, .node_logo, .php_logo, .react_logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */

.picture.css_logo {
  background-image: url("assets/images/css.png");
}

.picture.docker_logo {
  background-image: url("assets/images/docker.png");
}

.picture.gitHub_logo {
  background-image: url("assets/images/github.png");
}

.picture.html_logo {
  background-image: url("assets/images/html.png");
}

.picture.js_logo {
  background-image: url("assets/images/js.png");
}

.picture.mysql_logo {
  background-image: url("assets/images/mysql.png");
}

.picture.node_logo {
  background-image: url("assets/images/node.png");
}

.picture.php_logo {
  background-image: url("assets/images/php.png");
}

.picture.react_logo {
  background-image: url("assets/images/react.png");
}
