body {
  margin: 0px;
}

.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("assets/images/codingwallpaper.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

.imageContainer{
  display: flex;
  justify-content: flex-end;
  height:50px;
  width: 340px;
  background-image: url("assets/images/lfz_1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gameContainer {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 600px;
}

.gameOverScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: aquamarine;
  font-size: xx-large;
  z-index: 1;
}

.replayButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  width: 35%;
  font-size: 1.2rem;
  color: aquamarine;
  border: 3px solid rgb(0, 255, 238);
  border-radius: 8px;
  text-align: center;
  color: aquamarine;
  box-shadow: 0px 0px 10px 0px rgba(0,255,255,.8);
  margin: 0;
  font-size: x-large;
}

.statsContainer {
  height: 594px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stat{
  background: rgba(255, 255, 255, 0.1);
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  min-height: 80px;
  border: 3px solid rgb(0, 255, 238);
  border-radius: 8px;
  color: rgb(0, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0,255,255,.8);
}

.cardContainer {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 5px;
}

.cardCol {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
  margin: 0 2px 0 2px;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  margin: 1px;
  transition: transform .1s;
  transition: height .2s linear;
  border: 3px solid rgb(0, 0, 0, 0);
}

.picture {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.clickable:hover, .card_selected, .card.card_adjacent:hover,
.newGame:hover, .replayButton:hover{
  transform: scale(1.05);
  background: rgb(0,255,255, 1);
  background: radial-gradient(circle, rgba(0,255,255,.5) 0%, rgba(0,255,255,0.76234243697479) 0%, rgba(0,255,255,0) 100%);
  border: 3px solid aqua;
}

.newGame:hover, .replayButton:hover {
  cursor: pointer;
}

.card_adjacent{
  transform: scale(1.00);
  background: radial-gradient(circle, rgba(0,255,255,.5) 0%, rgba(0,255,255,0.76234243697479) 0%, rgba(0,255,255,0) 100%);
  border: 3px dashed aqua;
}

.card_selected {
  z-index: 1;
}


.card.card_matched{
  background: radial-gradient(circle, rgba(255,0,255,.5) 0%, rgba(255,0,255,0.76234243697479) 0%, rgba(255,0,255,0) 100%);
  border: 3px solid rgba(255, 0, 255, 1);
}

.card.collapse{
  height: 0;
  overflow: hidden;
  margin:0;
}

p:hover{
  cursor: default;
}

.picture.css_logo {
  background-image: url("assets/images/css.png");
}

.picture.docker_logo {
  background-image: url("assets/images/docker.png");
}

.picture.gitHub_logo {
  background-image: url("assets/images/gitHub.png");
}

.picture.html_logo {
  background-image: url("assets/images/html.png");
}

.picture.js_logo {
  background-image: url("assets/images/js.png");
}

.picture.mysql_logo {
  background-image: url("assets/images/mysql.png");
}

.picture.node_logo {
  background-image: url("assets/images/node.png");
}

.picture.php_logo {
  background-image: url("assets/images/php.png");
}

.picture.react_logo {
  background-image: url("assets/images/react.png");
}
